<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>QuietMelody</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:insert="fragments/imports.html"/>
</head>

<body>
<header th:insert="fragments/navbar.html" id="header">
</header>

<div style="min-height: 510px">
    <div class="catalog__intro">
        <h2 align="center">Личный кабинет</h2>
    </div>


    <div class="catalog">
        <div class="container">
            <div class="catalog__inner">

                <div class="catalog__item">
                    <div class="catalog__name">Изменить личные данные</div>
                    <div class="catalog__description">
                        <p>Указали данные неверно?</p>
                    </div>
                    <a class="btn btn-danger" style="margin-top: 20px;" href="#">Изменить</a>
                </div>

                <div class="catalog__item">
                    <div class="catalog__name">Поменять пароль</div>
                    <div class="catalog__description">
                        <p>Вы забыли пароль?</p>
                    </div>
                    <a class="btn btn-danger" style="margin-top: 20px;" href="#">Поменять</a>
                </div>

                <div class="catalog__item">
                    <div class="catalog__name">Корзина</div>
                    <div class="catalog__description">
                        <p>Готовы совершить покупку?</p>
                    </div>
                    <a class="btn  btn-danger" style="margin-top: 20px;" href="/catalog/cart">В корзину</a>
                </div>


            </div>
        </div>
    </div>

</div>
<footer th:insert="fragments/footer.html"/>
</body>
</html>