<footer th:fragment="footer" class="footer">
    <div class="container">

        <div class="footer__inner">
            <div class="footer__block">
                <h4 class="footer__title">Контакты</h4>
                <address class="footer__address">
                    <div>г.Москва</div>
                    <div>Проспект Вернадского, 78</div>
                </address>
            </div>

            <div class="footer__block">
                <h4 class="footer__title">Проект по предмету Системная и программная инженерия</br></h4>
            </div>

            <div class="footer__block">
                <h4 class="footer__title">QuietMelody</h4>
                <div class="footer__text">
                    <p>Это не простой магазин гитар, тут вы можете гитары со всего мира!</p>
                </div>
            </div>
        </div>

    </div>

    <div class="copyright">
        <div class="container">
            <div class="copyright__text">
                <div>Made <span>by Bremens Musicians</span></div>
            </div>
        </div>
    </div>
</footer>