<!DOCTYPE html>
<html>

<head>
    <title>Каталог</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <div th:insert="fragments/imports.html"/>
</head>

<body>
    <header th:insert="fragments/navbar.html" id="header"></header>
    <h1 style="margin-left: 8%; margin-top: 1%; color: #dc3545">Корзина </h1>
    <div style="margin-left: 7%; margin-right: 7%; min-height: 600px">
            <table class="table table-hover" >
                <thead>
                <tr>
                    <th></th>
                    <th>Название</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="align-middle">
                <tr th:each="cart : ${cart}">
                    <td> <img th:src="${cart.imgUrl}" style="height:100px;max-width:100px;"></td>
                    <td th:text="${cart.name}"></td>
                    <td th:text="${cart.price}"></td>
                    <td th:text="${cart.quantity}"> </td>
                    <td>
                        <a class="btn btn-outline-danger" th:href="@{'/catalog/cart/delete/' + ${cart.id}}">Удалить</a>
                    </td>
                </tr>

                </tbody>
            </table>
            <hr/>
        <ul class="nav" style="margin-left: 75%; margin-top: 1%;">
            <li class="nav-item" style="margin-right: 1%">
                <a href="/catalog/cart/clean"><button th:if="${not #lists.isEmpty(cart)}" class="btn btn-danger">Очистить корзину</button></a>
            </li>
            <li class="nav-item" style="margin-left: 1%">
                <button th:if="${not #lists.isEmpty(cart)}" type="submit" th:onclick="location.href='/catalog/cart/placeOrder'" class="btn btn-danger">Оформить заказ</button>
            </li>
        </ul>
    </div>
    <footer class="align-items-end" th:insert="fragments/footer.html"> </footer>
</body>
</html>